---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardInfo from "@components/ui/cards/CardInfo.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import GoogleMap from "@components/ui/GoogleMap.astro";

import avatar from "@images/icon.png"
import img1 from "@images/products/product-1.png"
import img2 from "@images/products/product-2.png"
import img3 from "@images/products/product-3.png"

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product= [
  {
    imgCard: img1,
    imgAlt: "",
    title: "Fast Order",
    description: "Trading saham jadi sat set dengan menu fast order cocok untuk anda yang suka trading scalping",
  },
  {
    imgCard: img2,
    imgAlt: "",
    title: "Automatic Order",
    description: "Tanpa harus pantau market, fitur ini menjalankan order secara otomatis membantu anda yang sibuk bekerja namun ingin tetap cuan dari trading saham",
  },
  {
    imgCard: img3,
    imgAlt: "",
    title: "EZ Finder & Signal Search",
    description: "Pilihan saham tidak bingung lagi, fitur ini membantu anda screening saham potensi profit kapanpun",
  },
];

// Define variables for page content
const title: string = "Tentang Kami";
const subTitle: string =
  "Kami adalah bagian dari Mirae Asset, sebuah perusahaan investasi global yang berkomitmen untuk membantu Anda mencapai tujuan keuangan Anda. Dengan pengalaman bertahun-tahun di industri ini, kami menawarkan solusi investasi yang inovatif dan disesuaikan dengan kebutuhan Anda.";

const hideTestimonials = true

// Testimonial data that will be rendered in the component
const testimonials = [
  // First testimonial data
  {
    content:
      " \"Kevin Wijaya adalah seorang profesional yang sangat berpengalaman dan selalu siap membantu. Dengan saran investasi dari Kevin, saya berhasil mengoptimalkan portofolio saya dan mencapai hasil yang lebih baik dari yang saya harapkan. Terima kasih, Kevin!\" ",
    author: "Andi Setiawan",
    role: "CEO, PT Nusantara Jaya",
    avatarSrc: avatar,
    avatarAlt: "Image Description",
  },
  // Second testimonial data
  {
    content:
      " \"Kerjasama dengan Kevin Wijaya di Mirae Asset Sekuritas sangat memuaskan. Kevin selalu memberikan panduan yang jelas dan tepat waktu, membuat saya merasa yakin dalam setiap keputusan investasi yang saya ambil. Saya sangat merekomendasikan Kevin bagi siapa pun yang ingin berinvestasi dengan bijak.\" ",
    author: "Rina Amelia",
    role: "Direktur Keuangan, PT Global Investama",
    avatarSrc: avatar,
    avatarAlt: "Image Description",
  },
  // Third testimonial data
  {
    content:
      " \"Saya sangat menghargai profesionalisme dan dedikasi Kevin Wijaya. Pengetahuannya yang mendalam tentang pasar saham dan strategi investasi yang cerdas telah membantu saya meraih kesuksesan finansial yang signifikan. Kevin adalah aset berharga bagi Mirae Asset Sekuritas.\" ",
    author: "Budi Santoso",
    role: "Manajer Investasi, PT Sukses Bersama",
    avatarSrc: avatar,
    avatarAlt: "Image Description",
  },
];

const pageTitle: string = `Products | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://yukinvestasisaham.com/about",
    "url": "https://yukinvestasisaham.com/about",
    "name": "About Us | YukInvestasiSaham",
    "description": "Kami adalah bagian dari Mirae Asset, sebuah perusahaan investasi global yang berkomitmen untuk membantu Anda mencapai tujuan keuangan Anda. Dengan pengalaman bertahun-tahun di industri ini, kami menawarkan solusi investasi yang inovatif dan disesuaikan dengan kebutuhan Anda.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://yukinvestasisaham.com",
      "name": "YukInvestasiSaham",
      "description": "Kami hadir untuk membantu Anda dalam mengoptimalkan investasi saham Anda dengan panduan dan layanan terbaik dari Mirae Asset, salah satu perusahaan manajer investasi terkemuka di Indonesia."
    },
    "inLanguage": "id"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="items-center gap-12 w-full">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="mt-4 text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <div class={hideTestimonials ? "hidden" : "block"}>
        <PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} />
      </div>
    </div>

    <!--Features statistics section-->
    <FeaturesStatsAlt
      title="Why Choose Us?"
      subTitle="Inilah Keuntungan yang Akan Anda Dapatkan Ketika Mendaftar Akun Saham dengan Kami"
      benefits={[
        {
          description: "Rekomendasi Saham & Info Market Harian",
          tooltip: "Analis kami menyediakan rekomendasi saham untuk anda yang berminat trading saham ataupun investasi jangka panjang.",
        },
        {
          description: "Video Tutorial & Live Morning Meeting",
          tooltip: "Tersedia banyak tutorial video penggunaan HOTS, Neo HOTS Mobile, dan video tips investasi. Terbaru nasabah dapat mengikuti Live Youtube Morning Meeting bersama tim analis dan tim riset Mirae Asset Sekuritas selama hari bursa jam 8.10 WIB pagi sd selesai di channel youtube Mirae Asset Sekuritas."
        },
        {
          description: "Mirae Asset Academy",
          tooltip: "Mendapatkan akses webinar rutin belajar investasi dengan beragam topik mulai dari basic knowledge, trading strategy, analisa teknikal, dan fundamental di Mirae Asset Academy."
        },
        {
          description: "1 Akun Akses ke Berbagai Instrumen Investasi",
          tooltip: "Diversifikasi jadi lebih mudah. RDN Mirae Asset tidak hanya bisa digunakan untuk investasi saham tapi juga bisa untuk investasi Reksadana di platform NAVI (app dan web based)."
        },
        // {
        //  description: "Grup Trading Nasabah Bimbingan Pak Kevin Wijaya",
        //  tooltip: "Free lifetime join grup trading nasabah, dibimbing dan bebas konsultasi dengan Pak Kevin, rekomendasi saham harian, info market terupdate, riset saham, koran harian."
        // },
      ]}
    />

    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product) => {
          return <CardInfo {...product} />;
        })
      }
    </section>
  </div>
  <!--Testimonials section-->
  <div class={hideTestimonials ? "hidden" : "block"}>
    <TestimonialsSectionAlt
      title="What Our Customers Say"
      testimonials={testimonials}
    />
  </div>

  <div class="mb-8">
    <GoogleMap />
  </div>
</MainLayout>
