---
// Define props from Astro
import { Image } from "astro:assets";
const { title, subTitle } = Astro.props;

import Client1 from "@images/clients/bukalapak.png"
import Client2 from "@images/clients/sampoerna.png"
import Client3 from "@images/clients/telkom.png"
import Client4 from "@images/clients/mayora.png"
import OtherCompany from "@/components/OtherCompanySvg.astro";
// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Title and description -->
  <div class="mx-auto mb-6 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
    <h2
      class="text-balance text-2xl font-bold leading-tight text-neutral-800 dark:text-neutral-200 sm:text-3xl"
    >
      {title}
    </h2>
    {
      subTitle && (
        <p class="text-pretty leading-tight text-neutral-600 dark:text-neutral-400">
          {subTitle}
        </p>
      )
    }
  </div>
  <div
    class="flex flex-col items-center justify-center gap-y-2 sm:flex-row sm:gap-x-12 sm:gap-y-0 lg:gap-x-24 dark:bg-[#C4C4C4] dark:rounded-xl"
  >
    <!-- Clients Group SVGs -->
    <!-- First -->
    <Image
      src={Client1}
      class="h-auto w-32 object-cover object-center"
      alt="Bukalapak"
      format={"png"}
    />
    <!-- Second -->
    <Image
      src={Client2}
      class="h-auto w-32 object-cover object-center"
      alt="Sampoerna"
      format={"png"}
    />
    <!-- Third -->
    <Image
      src={Client3}
      class="h-auto w-32 object-cover object-center"
      alt="Telkom"
      format={"png"}
    />
    <!-- Fourth -->
    <Image
      src={Client4}
      class="h-auto w-32 object-cover object-center"
      alt="Mayora"
      format={"png"}
    />
    <!-- Other -->
    <OtherCompany />
  </div>
</section>
