---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
// import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import AccountSection from "../components/sections/accounts/AccountSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import accounts from "../data_files/accounts.json";
import man from "@images/closeup-shot-businessman-s-hands-counting-stacks-coins-after-business-success.jpg";
import coins from "@images/silver-golden-coins-falling-coins-wooden-background.jpg";
import dashboard from "@images/dashboard-image.png";

import avatar from "@images/kevin-wijaya-tr.png"
import { socialLinks } from "@utils/navigation";

const avatarSrcs: Array<string | any> = [];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Buka akun sekarang"
    url={socialLinks.openAccount}
  />

  <HeroSection
    title=`Selamat Datang di <span
        class="text-yellow-500 dark:text-yellow-400">Yuk Investasi Saham</span>!`
    subTitle={[
      "Website ini dikelola oleh Kevin Wijaya - Sales Resmi Miare Asset Sekuritas."
    ]}
    primaryBtn="Cari tahu lebih lanjut"
    primaryBtnURL="/about"
    secondaryBtn="Hubungi Sales"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="A computer showing an investment portfolio"
  />

  <!--<ClientsSection-->
  <!--  title="Trusted by Industry Leaders"-->
  <!--  subTitle="Experience the reliability chosen by industry giants."-->
  <!--/>-->

  <FeaturesGeneral
    title="Sekuritas Nomor #1 di Indonesia"
    subTitle="Selamat datang di Yuk Investasi Saham! Kami hadir untuk membantu Anda dalam mengoptimalkan investasi saham Anda dengan panduan dan layanan terbaik dari Mirae Asset, salah satu perusahaan manajer investasi terkemuka di Indonesia."
    alt="Products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Sesuaikan penawaran dari <span class="text-yellow-500 dark:text-yellow-400">Mirae Asset</span> untuk memenuhi kebutuhan investasi dan keuangan Anda secara sempurna.`
    tabs={[
      {
        heading: "Alat Investasi Terkini",
        content:
          "Tingkatkan proyek investasi Anda dengan alat-alat terkini dari Mirae Asset. Rasakan efisiensi yang lebih tinggi dalam manajemen investasi dengan solusi otomatis kami yang canggih.",
        svg: "tools",
        src: coins,
        alt: "Silver and golden coins falling on wooden background",
        first: true,
      },
      {
        heading: "Dasbor yang Intuitif",
        content:
          "Navigasikan dengan mudah menggunakan dasbor intuitif dari Mirae Asset. Atur dan awasi investasi Anda dengan lancar, dengan antarmuka yang ramah pengguna yang dirancang untuk manajemen alur kerja yang cepat dan efektif.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Fitur-Fitur Unggulan",
        content:
          "Minimalkan kompleksitas, maksimalkan produktivitas. Fitur-fitur unggulan dari Mirae Asset dirancang untuk menyederhanakan proses investasi Anda, memberikan hasil yang menonjol karena keunggulannya.",
        svg: "house",
        src: man,
        alt: "closeup shot businessman's hands counting stacks coins after business success",
      },
    ]}
  />

  <TestimonialsSection
    title="Kelola Keuangan Anda"
    subTitle="Solusi Investasi yang Disesuaikan untuk Anda"
    ;
    testimonials={[
      {
        content:
          "Dapatkan saran investasi yang tepat dari tim ahli kami. Kami membantu Anda mengelola portofolio investasi Anda dengan strategi yang terukur dan berkelanjutan. Kami juga menyediakan informasi terkini dan edukasi tentang dunia investasi saham.",
        author: "Kevin Wijaya",
        role: "Investment Specialist Mirae Asset Sekuritas",
        avatarSrc: avatar,
      },
    ]}
    statistics={[
      {
        count: "Makin Cuan",
        description:
          "Fee Murah",
      },
      {
        count: "Tumbuh Bersama",
        description:
          "27 Office Education",
      },
      {
        count: "Pilih Sesuai Keinginan",
        description:
          "Beragam Pilihan Investasi",
      },
      {
        count: "Kemudahan Akses",
        description: "Aplikasi Saham Fitur Lengkap",
      },
    ]}
  />

  <AccountSection accounts={accounts} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Mulai Investasi"
    subTitle="Investasi yang Tepat, Masa Depan yang Cerah"
    url="https://login.miraeasset.co.id/registration/oe?3102663="
  />
</MainLayout>
