---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import InvestmentTypes from "@components/sections/landing/InvestmentTypes.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import AccountSection from "../components/sections/accounts/AccountSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/section-02.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import accounts from "../data_files/accounts.json";
import man from "@images/section-04.png";
import coins from "@images/section-01.png";
import dashboard from "@images/section-03.png";

import avatar from "@images/kevin-wijaya-tr.png"
import { socialLinks } from "@utils/navigation";

const avatarSrcs: Array<string | any> = [];
---

<MainLayout>
  <div class="hidden">
    <AnnouncementBanner
      btnId="dismiss-button"
      btnTitle="Claim hadiah sekarang"
      url={socialLinks.openAccount}
    />
  </div>

  <HeroSection
    title=`Selamat Datang di Yuk <span
        class="text-accent dark:text-accent">Investasi</span> Saham!`
    subTitle={[
      "Website ini dikelola oleh Kevin Wijaya - Sales Resmi Miare Asset Sekuritas."
    ]}
    primaryBtn="Cari tahu lebih lanjut"
    primaryBtnURL="/about"
    secondaryBtn="Hubungi Sales"
    secondaryBtnURL="https://wa.me/message/ZR63IOXREFFOD1"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="A computer showing an investment portfolio"
  />

  <FeaturesGeneral
    title="Sekuritas Nomor #1 di Indonesia"
    subTitle="Selamat datang di Yuk Investasi Saham! Kami hadir untuk membantu Anda dalam mengoptimalkan investasi saham Anda dengan panduan dan layanan terbaik dari Mirae Asset, salah satu perusahaan manajer investasi terkemuka di Indonesia."
    alt="Products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Sesuaikan penawaran dari <span class="text-yellow-500 dark:text-yellow-400">Mirae Asset</span> untuk memenuhi kebutuhan investasi dan keuangan Anda secara sempurna.`
    tabs={[
      {
        heading: "Alat Investasi Terkini",
        content:
          "Tingkatkan proyek investasi Anda dengan alat-alat terkini dari Mirae Asset. Rasakan efisiensi yang lebih tinggi dalam manajemen investasi dengan solusi otomatis kami yang canggih.",
        svg: "tools",
        src: coins,
        alt: "Silver and golden coins falling on wooden background",
        first: true,
      },
      {
        heading: "Dasbor yang Intuitif",
        content:
          "Navigasikan dengan mudah menggunakan dasbor intuitif dari Mirae Asset. Atur dan awasi investasi Anda dengan lancar, dengan antarmuka yang ramah pengguna yang dirancang untuk manajemen alur kerja yang cepat dan efektif.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Fitur-Fitur Unggulan",
        content:
          "Minimalkan kompleksitas, maksimalkan produktivitas. Fitur-fitur unggulan dari Mirae Asset dirancang untuk menyederhanakan proses investasi Anda, memberikan hasil yang menonjol karena keunggulannya.",
        svg: "house",
        src: man,
        alt: "closeup shot businessman's hands counting stacks coins after business success",
      },
    ]}
  />

  <TestimonialsSection
    title="Kelola Keuangan Anda"
    subTitle="Solusi Investasi yang Disesuaikan untuk Anda"
    ;
    testimonials={[
      {
        content:
          "Dapatkan saran investasi yang tepat dari tim ahli kami. Kami membantu Anda mengelola portofolio investasi Anda dengan strategi yang terukur dan berkelanjutan. Kami juga menyediakan informasi terkini dan edukasi tentang dunia investasi saham.",
        author: "Kevin Wijaya",
        role: "Investment Specialist Mirae Asset Sekuritas",
        avatarSrc: avatar,
      },
    ]}
    statistics={[
      {
        count: "Makin Cuan",
        description:
          "Fee Murah",
      },
      {
        count: "Tumbuh Bersama",
        description:
          "27 Office Education",
      },
      {
        count: "Pilih Sesuai Keinginan",
        description:
          "Beragam Pilihan Investasi",
      },
      {
        count: "Kemudahan Akses",
        description: "Aplikasi Saham Fitur Lengkap",
      },
    ]}
  />

  <InvestmentTypes
    title="Pilih Aset Sesuai Tujuan Finansial"
    subtitle="Aset investasi dari risiko paling rendah ke tinggi"
    items={[
      {
        icon: 'tabler:trending-up',
        title: 'Saham',
        description:
          "600+ saham Indonesia untuk tingkatkan peluang keuntungan",
      },
      {
        icon: 'fluent-mdl2:money',
        title: 'Reksa dana',
        description:
          "Produk reksa dana terbaik dengan harga mulai Rp10.000",
      },
      {
        icon: 'tabler:certificate',
        title: 'Obligasi',
        description:
          "560+ obligasi Republik Indonesia paling lengkap",
      },
      {
        icon: 'tabler:chart-bar',
        title: 'Exchange Traded Fund (ETF)',
        description:
          "Peluang transaksi banyak saham, tingkatkan peluang cuan",
      },
      {
        icon: 'flowbite:clipboard-list-outline',
        title: 'Structure Warrant',
        description:
          "Raih potensi keuntungan tanpa batas",
      },
    ]}
  />

  <ClientsSection
    title="Pilih Saham Terbaik"
    subTitle="Miliki saham dari berbagai perusaahan ternama (lebih dari 800 saham) sekarang menjadi lebih mudah"
  />

  <div class="hidden">
    <AccountSection accounts={accounts} />
  </div>

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />


 <HeroSectionAlt
    title="Mulai Investasi"
    subTitle="Investasi yang Tepat, Masa Depan yang Cerah"
    url="https://login.miraeasset.co.id/registration/oe?referralcode=3102663"
  />
</MainLayout>
