---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardBlog from "@components/ui/cards/CardBlog.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Get all blogs post in English and sort them based on publish date

const englishBlogEntries = await getCollection("blog");

const blogPosts: CollectionEntry<"blog">[] = englishBlogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
// Get all insights posts
const insightPosts: CollectionEntry<"insights">[] =
  await getCollection("insights");


// Define variables for page content
const title: string = "Gerbang Anda Menuju Keunggulan Investasi";
const subTitle: string =
  "Telusuri berita terbaru, tips, dan wawasan dari Mirae Asset untuk meningkatkan proyek investasi Anda. Dari sorotan produk hingga strategi manajemen investasi, blog kami adalah sumber utama Anda untuk segala hal terkait investasi dan keuangan.";
const secondTitle: string = "Wawasan";
const secondSubTitle: string =
  "Tetap terkini dengan tren dan perkembangan terbaru di industri investasi dengan wawasan dari tim ahli Mirae Asset.";

const pageTitle: string = `Artikel | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://yukinvestasisaham.com/blog",
    "url": "https://yukinvestasisaham.com/blog",
    "name": "Artikel | YukInvestasiSaham",
    "description": "Kami adalah bagian dari Mirae Asset, sebuah perusahaan investasi global yang berkomitmen untuk membantu Anda mencapai tujuan keuangan Anda. Dengan pengalaman bertahun-tahun di industri ini, kami menawarkan solusi investasi yang inovatif dan disesuaikan dengan kebutuhan Anda.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://yukinvestasisaham.com",
      "name": "YukInvestasiSaham",
      "description": "Kami hadir untuk membantu Anda dalam mengoptimalkan investasi saham Anda dengan panduan dan layanan terbaik dari Mirae Asset, salah satu perusahaan manajer investasi terkemuka di Indonesia."
    },
    "inLanguage": "id"
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-3">
      {blogPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} />)}
    </div>
  </section>
</MainLayout>
